name: 'publish-storybook'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'packages/ui/src/**'

jobs:
  chromatic:
    name: 'Run Chromatic'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install --no-cache

      - uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          token: ${{ secrets.GITHUB_TOKEN }}
          workingDir: packages/ui
          